/* Pagina Chi Siamo */

body {
    background-color: black;
}

.header {
    background-image: url(media/Calcio2.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color: black;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

/* Pagina Contatti */
.box {
    border: dotted white 2px;
    min-height: 250px;
    max-width: 250px;
    transition: all 0.5s;
    cursor: pointer;
}

.box:hover {
    border: 3px solid white;
    transform: translateY(-10px);
}

.icon {
    font-size: 50px;
}