body {
    background-color: black;
}

/* Home page */

.header {
    background-image: url(media/Calcio1.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


h1 {
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

/* Pagina Contatti */

.header2 {
    background-image: url(media/Calcio2.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box {
    border: dotted white 2px;
    min-height: 250px;
    max-width: 250px;
    transition: all 0.5s;
    cursor: pointer;
}

.box:hover {
    border: 3px solid white;
    transform: translateY(-10px);
}

.icon {
    font-size: 50px;
}

/* sezione ruoli */

.userHeight {
    height: 60vh;
}

.article {
    background-image: url(media/Calcio2.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cardImg {
    height: 210px;
    object-position: center;
}